* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-image: url('./assets/images/fon.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: 0 -150px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  padding: 30px;
  width: 56.60874%;
  /* height: 600px; */
  height: 40.14vw;
  background: linear-gradient(#c9a787b1, #1f1a15b1);
  border-radius: 10px;
}

.slider {
  width: 100%;
  margin-bottom: 1%;
  height: 90%;
  order: -2;
}

.slide {
  display: none;
  height: inherit;
	width: 100%;
  background-size: cover;
  border-radius: 5px;
  opacity: 0;
}

.slide1 {
  background-image: url('./assets/images/slide1.jpg');
}

.slide2 {
  background-image: url('./assets/images/slide2.jpg');
}

.slide3 {
  background-image: url('./assets/images/slide3.jpg');
}

.slide4 {
  background-image: url('./assets/images/slide4.jpg');
}

.slide5 {
  background-image: url('./assets/images/slide5.jpg');
}

.slide6 {
  background-image: url('./assets/images/slide6.jpg');
}

.slide7 {
  background-image: url('./assets/images/slide7.jpg');
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6,
#slide7:checked ~ .slider > .slide7 {
  display: block;
	opacity: 1;
}

#slide1 {
  margin-left: auto;
}

.input {
  appearance: none;
  margin-top: 10px;
  margin-left: 1%;
  cursor: pointer;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  border: 2px solid #b0865f;
  transition: ease-in-out 0.3s;
  /* order: -3; */
}

.input:hover {
  border: 2px solid #ffd9b5
}

.input:checked {
  background: #b0865f;
}

.input:checked:hover {
  background: #ffd9b5;
}

.input:after {
  display: block;
  position: relative;
  content: '';
  width: 30px;
  height: 30px;
  top: -9px;
  left: -9px;
  /* border: 1px solid green */
}

.slide-text {
  display: none;
  height: 7%;
  text-align: start;
  color: beige;
  font-size: 1.5em;
  opacity: 0;
  order: -1;
}

#slide1:checked ~ .text1,
#slide2:checked ~ .text2,
#slide3:checked ~ .text3,
#slide4:checked ~ .text4,
#slide5:checked ~ .text5,
#slide6:checked ~ .text6,
#slide7:checked ~ .text7 {
  display: block;
	opacity: 1;
}